.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(107, 118, 169, 0.902);
}

.navList,a{
    display: flex;
    justify-content: space-around;
    gap:2rem;
    text-decoration: none;
    list-style: none;
    color: rgb(252, 200, 95);
}

.navItem{
    cursor: pointer;
}

.navItem:hover{
   
    text-shadow:  2px 2px 5px rgb(240, 242, 244);
}