.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primaryColor)
}

.navList,
a {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
    color: rgb(61, 57, 49);
}

.navItem {
    cursor: pointer;
}

.navItem:hover {

    text-shadow: 2px 2px 5px rgb(52, 245, 4);
}